{% extends 'salon_admin/adminbase.html' %}
{% load static %}
{% block title %}
Add Work Schedule
{% endblock %}
{% block content %}
<h1>Add a New Work Schedule:</h1>
<form method="POST">
    {% csrf_token %}
    <div>
        {{ form.specialist.label_tag }}
        {{ form.specialist }}
        {{ form.date.label_tag }}
        {{ form.date }}
        {{ form.begin_time.label_tag }}
        {{ form.begin_time }}
        {{ form.end_time.label_tag }}
        {{ form.end_time }}
    </div>
    <input type="submit" value="Add Work Schedule">
    <a href="../">Cancel</a>
</form>
{% endblock %}
