{% extends 'salon_admin/adminbase.html' %}

{% block content %}
  <h1>{{ title }}</h1>
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      {{ form.specialist.label_tag }}
      {{ form.specialist }}
    </div>
    <div class="form-group">
      {{ form.service.label_tag }}
      {{ form.service }}
    </div>
    <div class="form-group">
      {{ form.customer.label_tag }}
      {{ form.customer }}
    </div>
    <div class="form-group">
      {{ form.booking_from.label_tag }}
      {{ form.booking_from }}
    </div>
    <div class="form-group">
      {{ form.booking_to.label_tag }}
      {{ form.booking_to }}
    </div>
    <div class="form-group">
      {{ form.phone.label_tag }}
      {{ form.phone }}
    </div>
    <div class="form-group">
      {{ form.status.label_tag }}
      {{ form.status }}
    </div>
    <div class="form-group">
      {{ form.comment.label_tag }}
      {{ form.comment }}
    </div>
    <button type="submit" class="btn btn-primary">Make Reservation</button>
  </form>
{% endblock %}
